@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090b;
  --secondary-bg: #141319;
  --teritiary-bg: #17171c;
}

.sp-text {
  background-image: conic-gradient(at top, #8b5cf6, #9f1239);

  /* Make gradient visible only on text */
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text;

  /* Transparent text so gradient shows through */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Safari */
}
.icon{
  padding: 15px;
  font-size: 20px;
  border: 1px solid #1f3927;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--secondary-bg);
}

